body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  height: 105px;
  width: 100%;
  margin-top: 0;
}

.logo-container {
  margin-left: 40px;
  display: inline-block;
  margin-right: 30px;
}

.call-number {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.call-number img {
  vertical-align: middle;
}

.phone-number {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Roboto Slab", serif;
  vertical-align: middle;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-left: 170px;
}

.tabs li {
  display: inline-block;
  margin-right: 40px;
}

.tabs a {
  position: relative;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  color: #141414;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.tabs a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #5c8692;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.tabs a:hover::after {
  transform: scaleX(1);
}

.contact_us {
  margin-left: 30px;
}

.socialmedia {
  margin-left: auto;
  margin-right: 30px;
}

.socialmedia img {
  display: inline-block;
  margin-right: 15px;
}

.reservation {
  height: 57px;
  width: 190px;
  background: #5C8692;
  border: 2px solid #5C8692;
  margin-right: 30px;
  transition: background-color 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.reservation:hover {
  background-color: #4A707D;
}

.reservation p {
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.reservation img {
  margin-left: 40px;
  vertical-align: middle;
}

.rectangle {
  display: flex;
  align-items: center;
  height: 885px;
  background-color: #EBF3F5;
}

.rectangleimg {
  margin-left: 120px;
}

.rectangle-content {
  display: block;
  flex-direction: column;
  margin-left: 120px;
}

.mainwelcome {
  display: flex;
  align-items: center;
}

.exclamation_point,
.welcome {
  display: inline-block;
}

.mainwelcome {
  height: 23px;
  width: 257px;
}

.welcome {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #5C8692;
  margin-left: 10px;
}

.secondbring {
  width: 396px;
  height: 215px;
  margin-top: -60px;
}

.bring {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 55px;
}

.thirdcontent {
  width: 483px;
  height: 92px;
}

.content {
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #555;
}

.make_a_reservation {
  background-color: #5C8692;
  border: #5C8692;
  height: 59px;
  width: 238px;
  margin-top: 60px;
}

.make_a_reservation:hover {
  background-color: #4A707D;
  cursor: pointer;
}

.make_a_reservation a {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

.grid_container {
  height: 730px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.spa_massage,
.hair_beauty,
.body_treatments {
  margin-top: 100px;
  justify-self: center;
}

.first_beauty_text,
.first_massage_text,
.first_treatments_text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 26px;
  margin-top: 16px;
}

.second_beauty_text,
.second_massage_text,
.second_treatments_text {
  width: 369px;
  height: 92px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 13px;
}

.btn_read_more {
  width: 157px;
  height: 57px;
  border: 2px solid #5C8692;
  background-color: #fff;
  margin-top: 17px;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.btn_read_more:hover {
  background-color: #5C8692;
  color: #fff;
  cursor: pointer;
}

.take_your_care_rectangle {
  height: 836px;
  background-color: #EBF3F5;
  overflow: auto;
}

.first_take_your_care_text {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5C8692;
  margin-left: 120px;
  padding-top: 139px;
}

.second_take_your_care_text {
  width: 519px;
  height: 176px;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 400;
  padding-left: 120px;
  margin-top: -15px;
}

.third_take_your_care_text {
  width: 595px;
  height: 92px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 120px;
  margin-top: -25px;
}

.square_content {
  display: flex;
  gap: 12px;
  padding-left: 120px;
  margin-top: 3vw;
}

.content_take_your_care {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 182px;
  background-color: #fff;
  border: 2px solid #1E2C30;
}

.square_text_service {
  position: absolute;
  margin-top: 100px;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 400;
  width: 74px;
}

.square_img_service {
  position: absolute;
  top: 20px;
}

.framerectangle {
  float: right;
  padding-top: 105px;
  padding-right: 112px;
}

.our_services {
  height: 933px;
  position: relative;
}

.our_services_text {
  text-align: center;
}

.our_services_text1 {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 99px;
  color: #5C8692;
}

.our_services_text2 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 400;
  margin-top: -1vw;
}

.benefits_rectangle_content {
  width: 1200px;
  height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.checkbox_item {
  flex-basis: calc(33.33% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
}

.checkbox_square {
  width: 96px;
  height: 96px;
  position: relative;
  border: 2px solid #5C8692;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.checkbox_image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.checkbox_square::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #5C8692;
  background-color: #5C8692;
  z-index: -1;
}

.main_checkbox_text {
  width: 377px;
  height: 37px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 26px;
  color: #141414;
  margin-top: 14px;
}

.description_checkbox_text {
  width: 369px;
  height: 54px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #555555;
  margin-top: -3px;
}

.flat_discount_rectangle {
  height: 910px;
  background-color: #ebf3f5;
  position: relative;
}

.center_discount_block {
  width: 1200px;
  height: 690px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discount_text {
  width: 645px;
  height: 690px;
}

.flat_discaunt_text {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #5c8692;
  margin-top: 100px;
}

.main_discount_text,
.main_disount_text2 {
  width: 429px;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
}

.main_discount_text {
  margin-top: -10px;
}

.main_disount_text2 {
  margin-top: -46px;
}

.description_discount_text {
  width: 541px;
  height: 62px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #555555;
  margin-top: -20px;
}

.discount_ticket {
  width: 496px;
  height: 173px;
  position: absolute;
  top: 540px;
  left: 250px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5c8692;
}

.ticket_data {
  width: 302px;
  height: 173px;
  background-color: #fff;
  text-align: center;
}

.ticket_data img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 33px;
}

.discount_square {
  width: 194px;
  height: 173px;
  background-color: #1e2c30;
  text-align: center;
}

.ticket_text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  color: #fff;
}

.percent {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  color: #fff;
}

.last_ticket_text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.ticket_text,
.percent,
.last_ticket_text {
  margin: 12px;
  text-align: center;
}

.contact_data_block {
  width: 555px;
  height: 690px;
  background-color: #fff;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.center_contact_data_block {
  width: 455px;
  height: 555px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
}

.data_input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.data_input input {
  width: 455px;
  height: 65px;
  box-sizing: border-box;
  border: 2px solid #5c8692;
  background-color: #fff;
  display: block;
  margin-bottom: 20px;
}

.data_input img {
  position: absolute;
  transform: translateY(-50%);
}

.data_order {
  width: 455px;
  height: 56px;
  background-color: #5c8692;
  border: 2px solid #5c8692;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.data_order:hover {
  background-color: #4A707D;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 595px;
  background-color: #1e2c30;
  position: relative;
}

.footer_center {
  width: 1200px;
  height: 413px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first_footer_block {
  display: flex;
  align-items: center;
}

.logo_footer {
  margin-right: 20px;
}

.social_media_icons {
  margin-left: auto;
}

.socialmedia_square_container {
  display: flex;
}

.socialmedia_square_footer {
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  border: 2px solid #5c8692;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia_square_footer:hover {
  background-color: #5c8692;
  cursor: pointer;
}

.footer_line {
  width: 1200px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 45.66px;
}

.footer_grid_container {
  width: 1200px;
  height: 320px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid_item {
  padding: 10px;
  text-align: center;
  width: 300px;
}

.grid_item h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30.8px;
  color: #fff;
  text-align: left;
}

.grid_item_text_footer p {
  position: relative;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.9px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.grid_item_text_footer p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 20%;
  height: 2px;
  background-color: #5c8692;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.grid_item_text_footer p:hover::after {
  transform: scaleX(1);
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex_container p {
  margin-right: 20px;
}

.footer_address {
  width: 215px;
  height: 26px;
  margin-top: -30px;
  margin-left: 30px;
}

.footer_address P {
  margin: 0;
}

.mail_adress_footer {
  margin-left: 60px;
}

.phone_footer {
  margin-left: 44px;
}

.down_line {
  height: 62px;
  background-color: #111e22;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down_line p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  color: #fff;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: #5C8692;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  opacity: 0.8;
}

.scroll-to-top-btn-hidden {
  transform: translateY(100px);
}

.scroll-to-top-btn-visible {
  transform: translateY(0);
}