footer {
  width: 100%;
  height: 595px;
  background-color: #1e2c30;
  position: relative;
}

.footer_center {
  width: 1200px;
  height: 413px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first_footer_block {
  display: flex;
  align-items: center;
}

.logo_footer {
  margin-right: 20px;
}

.social_media_icons {
  margin-left: auto;
}

.socialmedia_square_container {
  display: flex;
}

.socialmedia_square_footer {
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  border: 2px solid #5c8692;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia_square_footer:hover {
  background-color: #5c8692;
  cursor: pointer;
}

.footer_line {
  width: 1200px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 45.66px;
}

.footer_grid_container {
  width: 1200px;
  height: 320px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid_item {
  padding: 10px;
  text-align: center;
  width: 300px;
}

.grid_item h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 30.8px;
  color: #fff;
  text-align: left;
}

.grid_item_text_footer p {
  position: relative;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.9px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.grid_item_text_footer p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 20%;
  height: 2px;
  background-color: #5c8692;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.grid_item_text_footer p:hover::after {
  transform: scaleX(1);
  cursor: pointer;
}


.flex-container {
  display: flex;
  align-items: center; 
}

.flex_container p {
  margin-right: 20px; 
}

.footer_address {
  width: 215px;
  height: 26px;
  margin-top: -30px;
  margin-left: 30px;
}

.footer_address P {
  margin: 0;
}

.mail_adress_footer {
  margin-left: 60px;
}

.phone_footer {
  margin-left: 44px;
}

.down_line {
  height: 62px;
  background-color: #111e22;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down_line p {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  color: #fff;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: #5C8692;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  opacity: 0.8;
}


.scroll-to-top-btn-hidden {
  transform: translateY(100px);
}

.scroll-to-top-btn-visible {
  transform: translateY(0);
}
