.grid_container {
  height: 730px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.spa_massage,
.hair_beauty,
.body_treatments {
  margin-top: 100px;
  justify-self: center;
}

.first_beauty_text,
.first_massage_text,
.first_treatments_text {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 26px;
  margin-top: 16px;
}

.second_beauty_text,
.second_massage_text,
.second_treatments_text {
  width: 369px;
  height: 92px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 13px;
}

.btn_read_more {
  width: 157px;
  height: 57px;
  border: 2px solid #5C8692;
  background-color: #fff;
  margin-top: 17px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.btn_read_more:hover {
  background-color: #5C8692;
  color: #fff;
  cursor: pointer;
}