body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  height: 105px;
  width: 100%;
  margin-top: 0;
}

.logo-container {
  margin-left: 40px;
  display: inline-block;
  margin-right: 30px;
}

.call-number {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.call-number img {
  vertical-align: middle;
}

.phone-number {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Roboto Slab', serif;
  vertical-align: middle;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-left: 170px; 
}

.tabs li {
  display: inline-block;
  margin-right: 40px;
}

.tabs a {
  position: relative;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color: #141414;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.tabs a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #5c8692;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.tabs a:hover::after {
  transform: scaleX(1);
}


.contact_us {
  margin-left: 30px;
}

.socialmedia {
  margin-left: auto;
  margin-right: 30px; 
}

.socialmedia img {
  display: inline-block;
  margin-right: 15px;
}

.reservation {
  height: 57px;
  width: 190px;
  background: #5C8692;
  border: 2px solid #5C8692;
  margin-right: 30px;
  transition: background-color 0.3s ease;
  display: inline-block;
  cursor: pointer; 
}

.reservation:hover {
  background-color: #4A707D;
}

.reservation p {
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.reservation img {
  margin-left: 40px;
  vertical-align: middle;
}

