.flat_discount_rectangle {
  height: 910px;
  background-color: #ebf3f5;
  position: relative;
}

.center_discount_block {
  width: 1200px;
  height: 690px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discount_text {
  width: 645px;
  height: 690px;
}

.flat_discaunt_text {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #5c8692;
  margin-top: 100px;
}

.main_discount_text,
.main_disount_text2 {
  width: 429px;
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 58.5px;
}

.main_discount_text {
  margin-top: -10px;
}
.main_disount_text2 {
  margin-top: -46px;
}

.description_discount_text {
  width: 541px;
  height: 62px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #555555;
  margin-top: -20px;
}

.discount_ticket {
  width: 496px;
  height: 173px;
  position: absolute;
  top: 540px;
  left: 250px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5c8692;
}

.ticket_data {
  width: 302px;
  height: 173px;
  background-color: #fff;
  text-align: center;
}

.ticket_data img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 33px;
}

.discount_square {
  width: 194px;
  height: 173px;
  background-color: #1e2c30;
  text-align: center;
}

.ticket_text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22.5px;
  color: #fff;
}

.percent {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 78px;
  color: #fff;
}

.last_ticket_text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.ticket_text,
.percent,
.last_ticket_text {
  margin: 12px;
  text-align: center;
}

.contact_data_block {
  width: 555px;
  height: 690px;
  background-color: #fff;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.center_contact_data_block {
  width: 455px;
  height: 555px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
}

.data_input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.data_input input{
  width: 455px;
  height: 65px;
  box-sizing: border-box;
  border: 2px solid #5c8692;
  background-color: #fff;
  display: block;
  margin-bottom: 20px;
}

.data_input img {
  position: absolute;
  transform: translateY(-50%);
}

.data_order {
  width: 455px;
  height: 56px;
  background-color: #5c8692;
  border: 2px solid #5c8692;
  font-family: 'Manrope', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.data_order:hover {
  background-color: #4A707D;
  cursor: pointer;
}

