.rectangle {
  display: flex;
  align-items: center;
  height: 885px;
  background-color: #EBF3F5;
}

.rectangleimg {
  margin-left: 120px;
}

.rectangle-content {
  display: block;
  flex-direction: column;
  margin-left: 120px;
}

.mainwelcome {
  display: flex;
  align-items: center;
}
.exclamation_point,
.welcome {
  display: inline-block;
}

.mainwelcome {
  height: 23px;
  width: 257px;
}
.welcome {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #5C8692;
  margin-left: 10px;
}

.secondbring {
  width: 396px;
  height: 215px;
  margin-top: -60px;
}
.bring {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 55px;
}

.thirdcontent {
  width: 483px;
  height: 92px;
}
.content {
  font-family: 'Manrope', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #555;
}

.make_a_reservation {
  background-color: #5C8692;
  border: #5C8692;
  height: 59px;
  width: 238px;
  margin-top: 60px;
}

.make_a_reservation:hover {
  background-color: #4A707D;
  cursor: pointer;
}

.make_a_reservation a {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}