.take_your_care_rectangle {
  height: 836px;
  background-color: #EBF3F5;
  overflow: auto;
}

.first_take_your_care_text {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #5C8692;
  margin-left: 120px;
  padding-top: 139px;
}

.second_take_your_care_text {
  width: 519px;
  height: 176px;
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 400;
  padding-left: 120px;
  margin-top: -15px;
}

.third_take_your_care_text {
  width: 595px;
  height: 92px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 120px;
  margin-top: -25px;
}

.square_content {
  display: flex;
  gap: 12px;
  padding-left: 120px;
  margin-top: 3vw;
}

.content_take_your_care {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 182px;
  background-color: #fff;
  border: 2px solid #1E2C30;
}

.square_text_service {
  position: absolute;
  margin-top: 100px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 400;
  width: 74px;
}

.square_img_service {
  position: absolute;
  top: 20px;
}

.framerectangle {
  float: right;
  padding-top: 105px;
  padding-right: 112px;
}